<h2>Products</h2>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
<div class="row products-list">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">

      <%= link_to(product_path(product), {remote: true, class: 'thumbnail'}) do %>
        <div class="caption">
          <h4><%= product.name %></h4>
          <dl>
            <dt>Brand:</dt><dd><%= product.brand %></dd>
            <dt>Model:</dt><dd><%= product.model %></dd>
            <dt>Price:</dt><dd><%= product.price %></dd>
          </dl>
        </div>
      <% end %>
    </div>
  <% end %>
</div>